lsdb/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
mongodb.log

# macOS system files
.DS_Store

# MongoDB data directories
data/
my_mongo_db/
mongo_data/
*.lock

# OS or editor folders
*.swp
.idea/
.vscode/

# Conda environment files (optional)
conda-meta/

model_trained_on_MAESTRO_and_scraped_data/data/
